body
{
  background-color: #232323;
  font-family: ubuntu;
  text-align: center;
  margin: 0;
}


.container
{
  max-width: 900px;
  width: 90%;
  margin: 20px auto;
}

.square
{
  width: 30%;
  background-color: #232323;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
  border-radius: 15%;
  transition: background 0.5s;
}

.square:hover
{
  opacity: 0.8;
  transition: all 0.3s;
}

h1
{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: steelblue;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  font-size: 3em;
  font-weight: normal;
  color: white;
  margin: 0;
  transition: background 0.5s;
}

.wrong
{
  background-color: #232323;
}

.bar
{
  height: 50px;
  text-transform: uppercase;
  background-color: white;
}

#message
{
  display: inline-block;
  text-align: center;
  width: 20%;
}

.dark
{
  background-color: steelblue;
  opacity: 0.8;
  color : white;
  letter-spacing: 2px;
}

#reseter
{
  opacity: 1;
}

.selected
{
  background-color: steelblue;
  font-weight: bold;
  letter-spacing: 3px;
  color : white;
}

.rgb
{
  font-size: 2em;
}

button
{
  letter-spacing: 1px;
  color: steelblue;
  border: none;
  background: none;
  font-weight: bold;
  height: 100%;
  transition: all 0.3s;
  outline: none;
}
