/* font-family */
h1
{
  font-family: "Bungee";
}

p
{
  font-family: "Quicksand";
}

/* font-size */
body
{
  font-size: 10px;
}

h1
{
  font-size: 8em;
}

p
{
  font-size: 3em;
}

span
{
  font-size: 3.0em;
}

/* font-weight */
h1
{
  font-weight: normal;
}

p
{
  font-weight: bold;
}

/*line-height */
p
{
  line-height: 1;
}

/* text-align */

h1
{
  text-align: center;
}

p
{
  text-align: justify;
}

/* text-decoration */

h1
{
  text-decoration: underline;
}
